body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.crosshair {
    z-index: 10;
    transition: opacity 1s;
}

.center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.crosshair img {
    height: 128px;
    width: 128px;
}

.score {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 5px;
    z-index: 10;
    color: white;
    font-size: 24px;
    font-family: monospace;
    background-color: rgba(62, 252, 255, 0.75);
    border-bottom-left-radius: 5px;
    border-bottom: 2px solid rgb(48, 173, 176);
    border-left: 2px solid rgb(48, 173, 176);
}

.healthBar {
    position: relative;
    top: 0px;
    left: 0px;
    height: 20px;
    z-index: 10;
}

.healthBarBorder {
    position: relative;
    top: 4px;
    left: 4px;
    height: 20px;
    border: 1px solid white;
    z-index: 9;
    width: 200px;
}

.healthBarBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 210px;
    height: 30px;
    background-color: rgba(62, 252, 255, 0.75);
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid rgb(48, 173, 176);
    border-right: 2px solid rgb(48, 173, 176);
}

.gameOver {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: rgba(0,0,0,0.6);
    transition: opacity 1s;
    opacity: 0;
    display: none;
}

.gameOver .center {
    color: #fff;
    background-color: rgba(62, 252, 255, 0.75);
    border-radius: 5px;
    border: 2px solid rgb(48, 173, 176);
    padding: 20px;
    display: inherit;
}


.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 40;
    background: rgba(0,0,0,0.6);
    transition: opacity 1s;
    opacity: 1;
    display: block;
}

.menu .center {
    color: #fff;
    background-color: rgba(62, 252, 255, 0.75);
    border-radius: 5px;
    border: 2px solid rgb(48, 173, 176);
    padding: 20px;
    display: inherit;
}

.start {
    color: #fff;
    background-color: rgba(62, 252, 255, 0.75);
    border-radius: 5px;
    border: 2px solid rgb(48, 173, 176);
    padding: 20px;
    width: 100%;
}